/* CSS FILE FOR PESA */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#index-page {
  background-image: url("https://www.1100architect.com/staging1100/wp-content/uploads/2018/12/1100-Architect_Perry-World-House_Aaron_2240x1250.jpg");
  opacity: 0.9;
  background-color: #43d9b8;
  color: black;
  height: 600px;
}

#index-page p {
  font-size: 20px;
}

#search-form {
 color: black;
 /* background-color:#43d9b8 ; */
 background-color: #989898;
  
}

#search-page {
  background-color: #989898;
}

#form-fill {
  background-color: blanchedalmond;
}

#data-page {
  color: black;
  background-color: #989898;
   
 }

 .card-body {
  background-color: blanchedalmond;
 }

 #edit-page {
  background-color: #989898;
 }

 #edit-data {
  background-color: blanchedalmond;
 }
